* {
  box-sizing: border-box;
}

body {
  background-color: White;
}

/*
Colors used:
Bckground Color (White): #FFFFF;
Primary Color (Sage): #7F9593;
Primary Color (Peacock): #204045;
Secondary Color (Blush): #EBCDC4;
Secondary Color (Sand): #D3B09D;
*/
header {
  background-color: #EBCDC4;
  padding: 10px 0;
  border-bottom: 3px solid #7F9593;
  text-align: center;
  -webkit-box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.55);
  box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.55);
  position: fixed;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

footer {
  text-align: center;
}

li {
  display:inline;
}

selector {
  width: 10%;
}

.logo {
  max-width: 250px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #204045;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #7F9593;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #EBCDC4;
}

a:hover,
a:focus {
  color: #7F9593;
  text-decoration: underline;
}

.button.contact {
  background-color: transparent;
  color: #204045;
  text-transform: uppercase;
  border: 2px solid #204045;
}

.button.contact:hover {
  background-color: #204045;
  color: #ffffff;
}

.button {
  display: inline-block;
  background-color: #204045;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #7F9593;
  /* width of the border, type, color */
  transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 30px 0;
  /* 25px top and bottom, 0 left and right */
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #204045;
}

#hero h1 span {
  display: block;
  text-align: center;
  /* Centers text */
}

#about-page h3 {
  margin-top: 0;
}

transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];

nav>ul {
  list-style-type: none;
  padding: 0;
  width: 100%
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #204045;
}

nav>ul>li>a:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

#hero {
  background-color: #EBCDC4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

main {
  padding-top: 99px;
  overflow: auto;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
    float: left;
    padding: 10px;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
